@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
    
}

body{
    @apply bg-zinc-900 text-zinc-50;
}

.container{
    padding-right: 40px;
    padding-left: 40px;
}

.heading-1{
    @apply max-w-max;
    background: -webkit-linear-gradient(0deg, #fafafa, #a1a1a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-field{
    @apply text-zinc-200 bg-zinc-800 text-sm p-3 rounded-xl ring-2 ring-inset ring-transparent hover:ring-zinc-50/5 focus:ring-2 focus:ring-sky-400
}
.text-field::placeholder{
    @apply text-zinc-600
}